<div ng-controller="ordersCtrl">

    <table  id="productTable" class="table table-striped table-bordered">
        <tr><th>Name</th><th>State</th><th>City</th><th>Address</th><th>Zip code</th><th>Value</th><th>Giftrap</th><th></th></tr>
        <tr ng-repeat="order in orders">
            <td>{{order.name}}</td>
            <td>{{order.state}}</td>
            <td>{{order.city}}</td>
            <td>{{order.street}}</td>
            <td>{{order.zip}}</td>
            <td>{{calcTotal(order) | currency}}</td>
            <td><input type="checkbox" value="{{item.giftrap}}" /></td>
            <td>
                <button ng-click="selectOrder(order)" class="btn btn-xs btn-primary">
                    Details
                </button>
                
                <button ng-click="selectOrder(order)" class="btn btn-xs btn-primary">
                    Delete
                </button>
                
            </td>
        </tr>
    </table>

    <div ng-show="selectedOrder">
        <h3>Order Details</h3>

        <table class="table table-striped table-bordered">
            <tr><th>Name</th><th>Description</th><th>Category</th><th>Count</th><th>Price</th></tr>
            <tr ng-repeat="item in selectedOrder.products">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.category}}</td>
                <td>{{item.count}}</td>
                <td>{{item.price| currency}}</td>
                
            </tr>
        </table>
    </div>
</div>
